import template from './{{fileName}}.html'
import style from './{{fileName}}.css'

export class {{className}} extends HTMLElement {

  shadow: ShadowRoot

  constructor() {

    super()

    this.shadow = this.attachShadow({
      mode: 'open'
    })

  }

  connectedCallback() {
    this.render()
  }

  render() {

    this.shadow.innerHTML = `
      <style>${style}</style>
      ${template}
    `
  }

}

customElements.define('{{selector}}', {{className}})
